<% t "#{h @network.title}" -%>

<ul class="sectionIcons">
  <% if logged_in? %>
		<% if current_user.membership_request_pending?(@network.id) %>
		  <div class="box_standout">
			  <span style="text-align: left;"><b>You have already sent a membership request to join this group. Awaiting admin confirmation.</b></span>
			</div>
	  <% elsif current_user.membership_invite_pending?(@network.id) %>
		  <div class="box_standout">  
				<span style="text-align: left;"><b>You have been invited to join this group. Awaiting your <%= link_to "confirmation", user_membership_path(current_user, Membership.find(:first, :conditions => ['network_id = ? AND user_id = ?', @network, current_user])) -%>.</b></span>
			</div>
		<% end %>

    <% unless mine? @network %>
		  <% if @network.member?(current_user)  %>
			  <% cur_membership = Membership.find(:first, :conditions => ["network_id = ? AND user_id = ?", @network.id, current_user.id] ) %>
			  <% if false %>
			    <li><%= icon('network-leave', user_membership_path(cur_membership.user_id, cur_membership), nil, { :confirm => "Are you sure want to leave this group?", :method => :delete }, 'Leave Group') %></li>
			  <% end %>
			<% elsif !current_user.membership_pending?(@network.id) && !@network.invitation_only? %>
			  <li class="with_sep_bottom"><%= request_membership_link(current_user.id, @network.id) %></li>  
			<% end %>
		<% end %>

    <% if @network.administrator?(current_user) %>
			<li><%= icon('network-invite', invite_network_path(@network), 'Invite People', nil, 'Invite People') -%></li>
      <li><%= icon('policy', network_policies_path(@network), 'Group Policies', nil, 'Group Policies') -%></li>
    <% end %>
    <% if mine? @network %>
			<li><%= icon('edit', edit_network_path(@network), 'Edit', nil, 'Edit Group') %></li>
    <% end %>
    <% if mine?(@network) || current_user.admin? %>
      <li><%= icon('destroy', network_path(@network), 'Delete Group', { :confirm => 'Are you sure?', :method => :delete }, 'Delete Group') %></li>
    <% end %>
  <% end %>
  <li><%= icon('content', content_network_path(@network), 'View Group Content', nil, 'View Group Content') %></li>
</ul>

<h1>
	Group: <%=h @network.title %>
</h1>

<div class="contribution_mini_nav">
	|
	<%= link_to "Members (#{@network.members.length})", "#group_members" %>
	|
	<a href="#news">News</a>
	|
	<%= link_to("Shared Items", content_network_path(@network)) -%>
	|
	<a href="#creditations">Credited by (<%= @network.creditations.length -%>)</a>
	|
	<% if mine? @network %>
	  <a href="#manage_memberships">Manage Groups</a>
		|
		<% cnt = @network.memberships_requested.length %>
		<a href="#requests_pending"><% unless cnt == 0 %><b><% end %>Requests Pending (<%= cnt -%>)<% unless cnt == 0 %></b><% end %></a>
		|
		<% cnt = @network.memberships_invited.length %>
		<a href="#invites_pending"><% unless cnt == 0 %><b><% end %>Invites Pending (<%= cnt -%>)<% unless cnt == 0 %></b><% end %></a>
		|
		<br/>
		|
	<% end %>
	<%= link_to "Tags <span id='mini_nav_tag_link'>(#{@network.tags.length})</span>", "#tags" %>
	|
</div>

<div id="tabsContainer" class="tabsContainer"></div>

<div class="tabContainer">
  <div class="tabTitle">Overview</div>
  <div class="tabContent">
    <div class="contribution_left_box">
      <div class="box_simple" style="margin: 0 0 0.4em 0;">
        <% unless @network.description.nil? or @network.description.empty? %>
          <%= @network.description_html %>
        <% else %>
          <p><i>No description</i></p>
        <% end %>
      </div>

      <p>
        <b>Created at:</b>
        <%=datetime @network.created_at %>
      </p>

      <% unless @network.unique_name.nil? or @network.unique_name.empty? %>
        <p>
          <b>Unique name:</b>
          <%=h @network.unique_name %>
        </p>
      <% end %>

      <a name="news"></a>
      
      <div>
        <div style="float: right"><%= link_to(image_tag("feed-icon.png", :alt_text => "Atom feed for the news items of this group"), network_url(@network, :format => :atom)) -%></div>
        <h3>News</h3>
        <div style="clear: both"></div>
      </div>

      <% if @network.feed && Authorization.check("edit", @network, current_user) %>
        <% form_tag sync_feed_network_path(@network), :method => :post do %>
          <%= submit_tag "Synchronize feed" -%>
        <% end %>
      <% end %>

      <br />

      <% activities = activities_for_feed(:context => @network, :user => current_user) %>

      <div id="activities">
        <%= render(:partial => "activities/list", :locals => { :context => @network, :activities => activities, :user => current_user, :enable_feature => true } ) -%>
      </div>

    </div>

    <div class="contribution_right_box">
      <%= render :partial => "owner_box", :locals => { :network => @network } %>
      <% if false %>
      <%= render :partial => "contributions/subscription_box", :locals => { :object => @network } -%>
      <% end %>
      <%= render :partial => "statistics_box", :locals => { :network => @network, :items => @shared_items } %>

      <div class="contribution_section_box"> <!-- style="width: 130px; padding: 0.4em 0.8em; font-size: 93%;" -->
        <p>
          <b>
            This group has been credited
            <a href="#creditations"><%= pluralize(@network.creditations.length, "time") -%></a>
            <a name="group_creditations"></a>
          </b>
        </p>
      </div>

      <%= render :partial => "tags/tags_box", :locals => { :taggable => @network,
                                                           :owner_id => (@network.user_id),
                                                           :add_path => tag_network_path(@network),
                                                           :edit_path => edit_network_path(@network),
                                                           :allow_edit => logged_in? ? @network.user_id == current_user.id : false } %>
    </div>
    <div class="clearer">&nbsp;</div>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Members (<%= @network.members.size -%>)</div>
  <div class="tabContent">
    <a name="members"></a>
    <div class="contribution_section_box">
      <a name="group_members"></a>
      <% owner = @network.owner -%>
        <p class="heading">
          Owner
        </p>
        <div>
          <%= render :partial => "networks/members", :locals => { :collection => [owner], :size => 60 } %>
        </div>
      <% admins = @network.administrators(false)-%>
      <% unless admins.empty? %>
        <p class="heading">
          Administrators
        </p>
        <div>
          <%= render :partial => "networks/members", :locals => { :collection => admins, :size => 60 } %>
        </div>
      <% end %>
      <% others = @network.members - admins - [@network.owner] -%>
      <% unless others.empty? %>
        <p class="heading">
          Members
        </p>
        <div>
          <%= render :partial => "networks/members", :locals => { :collection => others, :size => 60 } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Credited by (<%= @network.creditations.length -%>)</div>
  <div class="tabContent">

    <a name="creditations"></a>
    <% unless (creditations = @network.creditations).empty? %>
			<%= view_privileges_notice %>
      <% creditations.each do |c| %>
				<% if c.creditable %>
        	<%= render :partial => "contributions/table", :locals => { :collection => [c.creditable.contribution] } %>
				<% end %>
      <% end %>
    <% else %>
      <p class="none_text">No credits yet</p>
    <% end %>

  </div>
</div>

<% if logged_in? && @network.administrator?(current_user) %>

  <% memberships = @network.memberships_accepted %>
	<div class="tabContainer">
    <div class="tabTitle">Manage Groups</div>
    <div class="tabContent">
      <a name="manage_memberships"></a>

      <% if mine? @network %>
     		<br/>
     		<div class="box_currentuser_specific">
          <strong>New member policy:</strong><br/>
     			<% if @network.open? %>
     				You have set this Group to automatically accept all membership requests.
     			<% elsif @network.membership_by_request? %>
     				You have set this Group to require membership requests to be approved by a group administrator.
           <% else %>
             You have set this Group to be closed to membership requests unless invited by a group administrator.
     			<% end %>
     		</div>
     	<% end %>

      <h3>Members</h3>
    	<% unless memberships.empty? %>
      	<%= render :partial => "memberships/table", :locals => { :collection => memberships, :network => false } %>
			<% else %>
				<p><i>No additional members belong to this Group</i></p>
			<% end %>

      <a name="requests_pending"></a>
      <h3>Requests to join</h3>
      <% requests = @network.memberships_requested %>
    	<% unless requests.empty? %>
				<p></p>
      	<%= render :partial => "memberships/table", :locals => { :collection => requests, :network => false } %>
			<% else %>
				<p><i>No requests are pending for this Group</i></p>
			<% end %>

      <a name="invites_pending"></a>
      <h3>Invitations</h3>
      <% invited = @network.memberships_invited %>
    	<% unless invited.empty? %>
				<p></p>
      	<%= render :partial => "memberships/table", :locals => { :collection => invited, :network => false } %>
			<% else %>
				<p><i>No invites are pending for this Group</i></p>
			<% end %>

    </div>
  </div>

<% end %>

<% if logged_in? and @network.member?(current_user) and !@network.contributions.empty? %>
  <%= render :partial => "contributions/tabs", :locals => { :collection => @network.contributions } %>
<% end %>

<br/>

<%= render :partial => "contributions/alternative_formats" %>

