<% t "#{contributable_name(@blob.id, 'Blob')} (#{h @blob.contributor_name})" -%>

<ul class="sectionIcons">
	<% if mine?(@blob) -%>
		<li><%= icon('manage', edit_blob_path(@blob), nil, nil, 'Manage File Entry')%></li>
	<% end -%>
	<% if Authorization.check('destroy', @blob, current_user) %>
		<li><%= icon('destroy', blob_path(@blob), nil, { :confirm => 'This deletes the File and all metadata such as tags, comments and ratings. Are you sure?', :method => :delete }, 'Delete File Entry') %></li>
	<% end %>
</ul>

<h1 class="contribution_title">File Entry: <%= contributable_name(@blob.id, 'Blob') %></h1>

<%= render :partial => "contributions/datetime_info", :locals => { :contributable => @blob } -%>

<div class="contribution_mini_nav">
	|
	<%= link_to "License", "#license" %>
	|
	<%= link_to "Credits (#{@blob.creditations.length})", "#credits" %>
	|
	<%= link_to "Attributions (#{@blob.attributors.length})", "#attributions" %>
	|
	<%= link_to "Tags <span id='mini_nav_tag_link'>(#{@blob.tags.length})</span>", "#tags" %>
	|
	<%= link_to "Featured in Packs (#{Pack.packs_with_contributable(@blob).length})", "#featured_in_packs" %>
	|
	<%= link_to "Attributed By (#{@blob.attributions.length})", "#attributed_by" %>
	|
	<%= link_to "Favourited By (#{@blob.bookmarks.length})", "#favourited_by" %>
	| 
  <br/>
  |
  <%= link_to("Version History", "#version_history") -%>
  |
	<% if logged_in? and @blob.owner?(current_user) %>
	  <a href="#sharing">Sharing</a>
	  |
	<% end %>
	<%= link_to "Comments (#{@blob.comments.length})", "#comments" %> 
	|
</div>

<div class="contribution_left_box">
	<div class="contribution_version_box">

    <%= render(:partial => "contributions/version_selector", :locals => { :resource => @blob, :version => @version, :path => :blob_version_path }) %>

    <div class="contribution_version_inner_box">

      <table class="metadata">

        <tr>
          <td>Title</td>
          <td><%=h @version.title %></td>
        </tr>
			
        <tr>
			    <td>File name</td>
			    <td><%=h @version.local_name %></td>
        </tr>

        <% if Authorization.check('download', @blob, current_user) %>
          <tr>
            <td>File size</td>
            <td class="size"><%=h @version.content_blob.size.to_s %></td>
          </tr>
          <tr>
            <td>SHA1</td>
            <td class="sha1"><%=h @version.content_blob.sha1 %></td>
          </tr>
        <% end %>

        <% if @version.content_type %>			
          <tr>
            <td>Content type</td>
            <td class="content_type"><%=h @version.content_type.title %></td>
          </tr>
        <% end %>

			</table>
  
			<br/>
			
			<h3>
				<%= info_icon_with_tooltip("This section shows the overall description for this File") %>
				Description
			</h3>
			
			<% unless @version.body.blank? %>
				<div class="contribution_description">
					<%= @version.body_html %>
				</div>
			<% else %>
				<p class="none_text">
					Not set
				</p>
			<% end %>
			
			<br/>
			
			<h3>
				<%= info_icon_with_tooltip("This section provides links to the download(s) for this File") %>
				Download
			</h3>
			
			<% if Authorization.check('download', @blob, current_user) %>
				<ul class="sectionIcons">
					<li><%= icon('blob', @named_download_url, "Download File", nil, "Download File") %></li>
				</ul>
			<% else %>
				<p class="none_text">
					You cannot download this File
				</p>
			<% end %>
		</div>
	
	</div>

</div>

<div class="contribution_right_box">
	<%= render :partial => "contributions/uploader_box", :locals => { :contributable => @blob } %>
	
	<%= render :partial => "contributions/license_box", :locals => { :contributable => @blob } %>
	
	<%= render :partial => "contributions/credits_attributions_box", :locals => { :contributable => @blob, :edit_path => edit_blob_path(@blob) } %>
	
  <%= render :partial => "contributions/curation_box", :locals => { :contributable => @blob } %>

	<%= render :partial => "tags/tags_box", :locals => { :taggable => @blob, 
																											 :owner_id => ((@blob.contributor_type == 'User') ? @blob.contributor_id : nil), 
																											 :add_path => tag_blob_path(@blob),
																											 :edit_path => edit_blob_path(@blob),
																											 :allow_edit => Authorization.check('edit', @blob, current_user) } %>
																											 
  <%= render :partial => "contributions/shared_with_groups_box", :locals => { :contributable => @blob } %>
	
	<%= render :partial => "contributions/in_packs_box", :locals => { :contributable => @blob, :contributable_url => @blob_entry_url } %>
	
	<%= render :partial => "contributions/attributed_by", :locals => { :contributable => @blob } %>
	
	<%= render :partial => "contributions/favourited_box", :locals => { :contributable => @blob,
																																			:add_to_favourites_path => favourite_blob_url(@blob),
																																			:remove_from_favourites_path => favourite_delete_blob_url(@blob) } %>
	
	<%= render :partial => "contributions/statistics_box", :locals => { :contributable => @blob } %>
</div>	

<div class="clearer">&nbsp;</div>

<!-- BEGIN tabs -->
	
<br/>

<div id="tabsContainer" class="tabsContainer"></div>

<div class="tabContainer">
  <div class="tabTitle">Version History</div>
  <div class="tabContent">
    <a name="version_history"></a>
    <%= render :partial => "contributions/versions", :locals => { :resource => @blob, :path => :blob_version_path } %>
  </div>
</div>

<% if logged_in? and @blob.owner? current_user %>
  
	<div class="tabContainer">
    <div class="tabTitle">Sharing</div>
    <div class="tabContent">

      <a name="sharing"></a>
      <%= render :partial => "contributions/sharing_summary",  :locals => { :contributable => @blob } %>
      <%= render :partial => "contributions/updating_summary", :locals => { :contributable => @blob } %>
	  
      <% if Authorization.check('edit', @blob, current_user) %>
        <ul class="sectionIcons">
          <li><%= icon('edit', edit_blob_path(@blob), nil, nil, 'Edit')%></li>
        </ul>
      <% end %>
    </div>
  </div>
	
	<% if false %>
  <div class="tabContainer">
    <div class="tabTitle">Viewing History</div>
    <div class="tabContent">
      <%= render :partial => "contributions/history", :object => @blob.contribution %>
    </div>
  </div>
	<% end %>
	
<% end %>

<!-- END tabs -->

<br/>
<br/>

<div id="commentsBox">
	<%= render :partial => "comments/comments", :locals => { :commentable => @blob } %>
</div>

<%= render :partial => "contributions/alternative_formats" %>

