<% t "#{h @workflow.title} (#{h @workflow.contributor_name}) [#{h(@workflow.type_display_name)} Workflow]" -%>

<%= render :partial => "workflows/deprecation_event", :collection => @workflow.deprecations -%>



<h1 class="contribution_title">
  <%=h @workflow.title %>
</h1>

<%= render :partial => "contributions/datetime_info", :locals => { :contributable => @workflow } -%>

<ul class="sectionIcons">
  <% if @authorised_to_download %>
      <li><%= icon('download', @named_download_url, "Download Workflow (for version #{@viewing_version_number.to_s})", nil, "Download Workflow") -%></li>
      <% if @workflow.content_type.try(:title) == "Taverna 2" &&
              Conf.enable_online_hpc &&
              @workflow.current_version == @viewing_version_number %>
          <li><%= icon('onlinehpc', online_hpc_url(@workflow), "Run or edit this workflow in OnlineHPC", nil, "Open in OnlineHPC") -%></li>
      <% end %>
  <% end %>
  <% if @authorised_to_edit -%>
      <li><%= icon('new', new_version_workflow_path(@workflow), nil, nil, 'Upload New Version')%></li>
      <% if show_edit_workflow_version_button?(@viewing_version) %>
        <li><%= icon('edit', workflow_version_edit_url(@workflow.id, @viewing_version.version), nil, nil, "Edit This Version") %></li>
      <% end %>
  <% end -%>
  <% if mine?(@workflow) -%>
      <li><%= icon('manage', edit_workflow_path(@workflow), nil, nil, 'Manage Workflow')%></li>
  <% end -%>
  <% if Authorization.check("destroy", @workflow, current_user) -%>
      <li>
        <%= icon('destroy', workflow_path(@workflow), nil, { :confirm => 'This deletes all versions of the Workflow and all metadata such as tags, comments and citations. Are you sure?', :method => :delete }, 'Delete Workflow') %>
      </li>
  <% end -%>

</ul>


<div class="contribution_left_box">

  <div class="contribution_version_box">



    <div class="contribution_version_inner_box">

      <%= render :partial=>"workflow_description" %>

      <h3>
        <%= info_icon_with_tooltip("This section shows the preview of this version of the Workflow (click on the image to expand)") %>
        Preview
      </h3>

      <% unless @viewing_version.image.nil? && @viewing_version.svg.nil? %>

          <div class="contribution_preview" style="width: 100%;">
            <p style="text-align: center">
              <%= link_to image_tag(workflow_version_preview_path(@workflow, @viewing_version.version, 'medium')), workflow_version_preview_path(@workflow, @viewing_version.version, 'full'), :popup => true %>
            </p>
            <% unless @viewing_version.svg.nil? %>
                <p style="text-align: right; color: #666666;">
                  <%= link_to 'Download as scalable diagram (SVG)', workflow_version_preview_path(@workflow, @viewing_version.version, 'svg') %>
                </p>
            <% end %>

            <% if @authorised_to_edit %>
                <p style="text-align: right; color: #666666;">
                  <%= link_to "Change preview image", workflow_version_edit_url(@workflow.id, @viewing_version.version) %>
                </p>
            <% end %>
          </div>
      <% else %>
          <p class="none_text">
            Not available
          </p>
          <% if @authorised_to_edit %>
              <p style="text-align: right; color: #666666;">
                <%= link_to "Add a preview image", workflow_version_edit_url(@workflow.id, @viewing_version.version) %>
              </p>
          <% end %>

      <% end %>



      <h3>
        <%= info_icon_with_tooltip("This section provides options for running this version of the Workflow") %>
        <%= @viewing_version.content_type.title == "Galaxy" ? "Import" : "Run" %>
      </h3>

      <% if @authorised_to_download %>
          <% begin %>
              <%= render :partial => "workflows/#{get_type_dir(@workflow)}/run_options" -%>
          <% rescue %>
              <p class="none_text">
                There was a problem when determining the run options of this workflow.
              </p>
          <% end %>
      <% else %>
          <p class="none_text">
            You do not have permission to run this workflow
          </p>
      <% end %>

      <br/>

      <h3>
        <%= info_icon_with_tooltip("This section shows the internal components of this workflow version") %>
        Workflow Components
      </h3>

      <% if @authorised_to_download %>
          <% begin %>
              <%= render :partial => "workflows/#{get_type_dir(@viewing_version)}/internals", :locals => { :workflow => @workflow, :version => @viewing_version_number } -%>
          <% rescue => e %>
              <% logger.error "Exception when rendering internals:\n" + e.message + "\n " + e.backtrace.join("\n ") %>
              <p class="none_text">
                There was a problem in extracting the internals of this workflow.
              </p>
          <% end %>
      <% else %>
          <p class="none_text">
            You do not have permission to see the internals of this workflow
          </p>
      <% end %>
    </div>

  </div>

</div>

<div class="contribution_right_box">
  <div class="contribution_section_box" style= "font-size: 100%; padding: 0.7em 0.9em; font-weight: bold;">
    <p><%= info_icon_with_tooltip("The type of workflow system that this Workflow is designed for.") %> Workflow Type</p>
    <p><%= link_to(h(@viewing_version.content_type.title), content_type_path(@viewing_version.content_type)) %></p>
  </div>

  <%= render :partial => "contributions/uploader_box", :locals => { :contributable => @workflow } %>

  <% if @workflow.component? %>
      <%= render :partial => "workflows/component_validity_box", :locals => { :workflow => @workflow, :version => @viewing_version_number } %>
  <% end %>

  <%= render :partial => "contributions/license_box", :locals => { :contributable => @workflow } %>

  <%= render :partial => "contributions/version_selection", :locals => { :resource => @workflow, :version => @viewing_version, :path => :workflow_version_path } %>

  <%= render :partial => "contributions/credits_attributions_box", :locals => { :contributable => @workflow, :edit_path => edit_workflow_path(@workflow) } %>

  <%= render :partial => "contributions/curation_box", :locals => { :contributable => @workflow } %>

  <%= render :partial => "tags/tags_box", :locals => { :taggable => @workflow,
                                                       :owner_id => ((@workflow.contribution.contributor_type == 'User') ? @workflow.contribution.contributor_id : nil),
                                                       :add_path => tag_workflow_path(@workflow),
                                                       :edit_path => edit_workflow_path(@workflow),
                                                       :allow_edit => @authorised_to_edit } %>

  <%= render :partial => "contributions/shared_with_groups_box", :locals => { :contributable => @workflow } %>

  <%= render :partial => "contributions/in_packs_box", :locals => { :contributable => @workflow, :contributable_url => @workflow_entry_url } %>

  <%= render :partial => "contributions/attributed_by", :locals => { :contributable => @workflow } %>

  <%= render :partial => "contributions/favourited_box", :locals => { :contributable => @workflow,
                                                                      :add_to_favourites_path => favourite_workflow_url(@workflow),
                                                                      :remove_from_favourites_path => favourite_delete_workflow_url(@workflow) } %>

  <%= render :partial => "contributions/statistics_box", :locals => { :contributable => @workflow } %>
</div>

<div class="clearer">&nbsp;</div>

<!-- BEGIN tabs -->

<br/>

<div id="tabsContainer" class="tabsContainer"></div>

<%= render :partial => "contributions/citations_tab", :locals => { :item => @workflow } %>

<div class="tabContainer">
  <div class="tabTitle">Version History</div>
  <div class="tabContent">
    <a name="version_history"></a>
    <%= render :partial => "contributions/versions", :locals => { :resource => @workflow, :path => :workflow_version_path } %>
  </div>
</div>

<% if logged_in? and @workflow.owner?(current_user) %>

    <div class="tabContainer">
      <div class="tabTitle">Sharing</div>
      <div class="tabContent">

        <a name="sharing"></a>
        <%= render :partial => "contributions/sharing_summary",  :locals => { :contributable => @workflow } %>
        <%= render :partial => "contributions/updating_summary", :locals => { :contributable => @workflow } %>

        <% if @authorised_to_edit %>
            <ul class="sectionIcons">
              <li><%= icon('edit', edit_workflow_path(@workflow), nil, nil, 'Edit')%></li>
            </ul>
        <% end %>

      </div>
    </div>

    <% if false %>
        <div class="tabContainer">
          <div class="tabTitle">Viewing History</div>
          <div class="tabContent">
            <%= render :partial => "contributions/history", :object => @workflow.contribution %>
          </div>
        </div>
    <% end %>

<% end %>

<!-- END tabs -->

<br/>
<br/>

<div id="ratingsBox">
  <%= render :partial => "reviews/reviews", :locals => { :reviewable => @workflow } %>
</div>

<br/>
<br/>

<div id="commentsBox">
  <%= render :partial => "comments/comments", :locals => { :commentable => @workflow } %>
</div>

<!-- Other workflows that use a service this workflow users -->

<br />
<br />

<h2>
  <%= icon "workflow", nil, nil, { :style => "vertical-align: middle;" }, "" -%>
  <span style="vertical-align: middle;">Other workflows that use similar services</span>
  <span class="count_text" style="vertical-align: middle;">(<%= @contributions_with_similar_services.length %>)</span>
</h2>

<% if @contributions_with_similar_services.length > @similar_services_limit %>
    <p><i>Only the first <%= @similar_services_limit %> workflows that use similar services are shown</i>.   <a href="<%= workflows_path(@wsdls_filter) -%>">View all workflows that use these services</a>.</p>
    <br />
<% end %>

<% if @contributions_with_similar_services.length > 0 %>
    <%= render :partial => "contributions/list", :locals => { :collection => @contributions_with_similar_services[0..@similar_services_limit - 1], :table => true } %>
<% else %>
    <p>There are no workflows in <%= Conf.sitename %> that use similar services to this Workflow.</p>
<% end %>


<!-- OpenURL context object -->

<span class="Z3988" title="<%= workflow_context_object(@workflow) -%>"></span>