<!-- Site Announcements -->
<% cache(:controller => 'home_cache', :action => 'announcements') do -%>
    <% unless (announcements = Announcement.latest(5, 6.months.ago)).empty? %>
        <div class="box" style="margin-bottom: 0">
          <div class="title">
            <%= feed_icon_tag "Site Announcements", announcements_path(:format => :rss) %>
            <%= link_to "Announcements", announcements_url %>
          </div>
          <div class="content">
            <ul class="announcements">
              <% announcements.each do |a| %>
                  <li>
                    <p><strong><%= link_to h(a.title), announcement_url(a) %></strong></p>
                    <span style="font-size: 77%"><%= time_ago_in_words a.created_at, false %> ago by <%= name a.user %></span>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
<% end %>
<% if admin? %>
    <ul class="sectionIcons" style="margin: 0">
      <li><%= icon('announcement', new_announcement_url, nil, nil, 'Make Announcement')%></li>
    </ul>
<% end %>
