<!-- Latest Reviews -->
<% cache(:controller => 'home_cache', :action => 'latest_reviews', :id => (logged_in? ? current_user.id : 0)) do -%>
    <div class="box">
      <div class="title">
        Latest Reviews
      </div>
      <div class="content">
        <% unless (reviews = Review.latest).empty? %>
            <ul class="list">
              <% reviews.each do |r| %>
                  <% if Authorization.check("view", r.reviewable, current_user) %>
                      <li>
                        <b><%= r_type = visible_name(r.reviewable_type); icon(r.reviewable_type.to_s, nil, nil, r_type, r_type) %>
                          :</b>
                        <span><%= contributable(r.reviewable_id, r.reviewable_type) %></span>
                        <br/>
								<span style="padding-left: 2em;">
									Review by 
									<b><%= name r.user %></b>:
									(<%= timeago_fuzzy r.created_at %>)
								</span>

                        <div class="box_standout" style="font-size: 85%; margin: 0.4em 2em; padding: 0.2em 0.5em;">
                          <p>
                            <b><%= link_to h(r.title), workflow_review_url(r.reviewable, r) -%></b>
                            <br/>
										<span style="color: #666666;">
											<% if (rating = r.associated_rating) -%>
												Rated: <%= rating.rating -%> out of 5
											<% else -%>
												No rating given
											<% end -%>
										</span>
                          </p>
                          <%= truncate(strip_html(white_list(r.review)), :length => 150) %>
                          <p style="text-align: right;">[ <%= link_to "More", workflow_review_url(r.reviewable, r) -%>
                            ]</p>
                        </div>
                        <br/>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>
<% end -%>
