<!-- Latest Comments -->
<% cache(:controller => 'home_cache', :action => 'latest_comments', :id => (logged_in? ? current_user.id : 0)) do -%>
    <div class="box">
      <div class="title">
        Latest Comments
      </div>
      <div class="content">
        <% unless (comments = Comment.latest).empty? %>
            <ul class="list">
              <% comments.each do |c| %>
                  <% if Authorization.check("view", c.commentable, current_user) %>
                      <% commentable = c.commentable.kind_of?(Activity) ? c.commentable.context : c.commentable %>
                      <% commentable_type = commentable.class.name; commentable_id = commentable.id %>
                      <li>
                        <b><%= c_type = visible_name(commentable_type); icon(commentable_type.to_s, nil, nil, c_type, c_type) %>:</b>
                        <span><%= commentable_type == 'Network' ? title(commentable_id) : contributable(commentable_id, commentable_type) %></span>
                        <br/>
							<span style="padding-left: 2em;">
								<b><%= name c.user %></b> said:
								(<%= timeago_fuzzy c.created_at %>)
							</span>
                        <div class="box_standout" style="font-size: 85%; margin: 0.4em 2em; padding: 0.2em 0.5em;">
                          <%= truncate(strip_html(white_list(c.comment)), :length => 150) %>
                          <p style="text-align: right;">[ <%= link_to "More", (commentable_type == 'Network' ? network_url(c.commentable) + "#comment_#{c.id}" : contributable_url(commentable_id, commentable_type) + "#comment_#{c.id}") %> ]</p>
                        </div>
                        <br/>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>
<% end -%>
