<% t "#{contributable_name(@pack.id, 'Pack')} (#{h @pack.contributor_name})" -%>

<% items_count = @version ? @version.items_count : @pack.items_count %>
<% contributable_entries = (@version ? @version.contributable_entries(:include => :contributable) : @pack.contributable_entries(:include => :contributable)) %>
<% remote_entries        = @version ? @version.remote_entries        : @pack.remote_entries        %>

<% if @authorised_to_edit %>
	<ul class="sectionIcons">
		<% if mine?(@pack) -%>
			<li><%= icon('manage', edit_pack_path(@pack), nil, nil, 'Manage Pack') -%></li>
		<% end -%>
    <% if @authorised_to_edit -%>
			<li><%= icon('new', snapshot_pack_path(@pack), nil, { :confirm => 'Are you sure that you would like to create a new snapshot of this Pack?', :method => :post }, 'Create snapshot') %></li>
    <% end -%>	
		<% if Authorization.check("destroy", @pack, current_user) %>
			<li><%= icon('destroy', pack_path(@pack), nil, { :confirm => 'This deletes the Pack and all metadata such as tags and comments, BUT does not delete the actual items pointed to in the Pack. Are you sure you would like to delete this Pack?', :method => :delete }, 'Delete Pack') %></li>
		<% end %>
	</ul>
<% end %>

<h1 class="contribution_title">Pack: <%= contributable_name(@pack.id, 'Pack') %></h1>

<%= render :partial => "contributions/datetime_info", :locals => { :contributable => @pack } -%>

<div class="contribution_mini_nav">
	|
	<% if @authorised_to_edit %>
	  <%= link_to "Add an Item", "#add_item" %>
		|
	<% end %>
	<% if logged_in? and @pack.owner? current_user %>
	  <a href="#sharing">Sharing</a>
		|
	<% end %>
	<%= link_to "Tags <span id='mini_nav_tag_link'>(#{@pack.tags.length})</span>", "#tags" %>
	|
	<%= link_to "Featured in Packs (#{Pack.packs_with_contributable(@pack).length})", "#featured_in_packs" %>
	|
	<%= link_to "Favourited By (#{@pack.bookmarks.length})", "#favourited_by" %>
	| 
	<%= link_to "Comments (#{@pack.comments.length})", "#comments" %>
	|
</div>

<div class="contribution_left_box">
	<div class="contribution_version_box">

    <%= render(:partial => "packs/version_selector", :locals => { :resource => @pack, :version => @version, :path => :pack_version_path }) %>

		<div class="contribution_version_inner_box">
			<p>
		    <b>Title:</b>
		    <span class="title"><%=h @pack.title %></span>
			</p>
			
			<br/>
			
			<h3>
				<%= info_icon_with_tooltip("This section shows the overall description of this Pack") %>
				Description
			</h3>
			
			<% unless @pack.description.blank? %>
				<div class="contribution_description">
					<%= @pack.description_html %>
				</div>
				<% if mine?(@pack) %>
					<br/>
					<p style="text-align: right; color: #666666;">[ <%= link_to "edit", edit_pack_path(@pack) %> ]</p>
				<% end %>
			<% else %>
				<p class="none_text">
					Not set
				</p>
			<% end %>
			
		</div>
	</div>
	
	<div class="contribution_version_box" style="background-color: #EEEEEE;">
		<div class="contribution_version_inner_box">
			<h4>
				<%= feed_icon_tag "RSS feed for items in this pack", items_pack_path(@pack, :format => :rss), "float: right;" %>
				<% if @authorised_to_download %>
				  <%= download_icon_tag "Download all items in the pack as a single .zip archive", download_pack_path(@pack), "float: right; margin-right: 0.5em;" -%>
				<% end %>
				
				<%= info_icon_with_tooltip("This section shows all the items that are pointed to in this pack. This can be a combination of internal and external items.") -%>
				Items <span class="count_text">(<%= items_count -%>)</span>
			</h4>
			
			<%= render :partial => "items", :locals => { :pack => @pack, :contributable_entries => contributable_entries, :remote_entries => remote_entries, :authorised_to_edit => @authorised_to_edit } -%>

			<br/><br/>
			<h4>
				<%= info_icon_with_tooltip("This section shows all the relationships between the items in this pack.") -%>
				Relationships <span class="count_text">(<%= @pack.relationships.length -%>)</span>
			</h4>

			<%= render :partial => "relationships/relationships", :locals => { :context => @pack, :show_delete => true } -%>
			
      <% if @authorised_to_edit %>
        <br />
        <ul class="sectionIcons">
          <li><%= icon('manage', edit_relationships_pack_relationships_path(@pack), nil, nil, 'Edit Relationships') -%></li>
        </ul>
      <% end %>

			<br/><br/>

			<h3>
				<%= info_icon_with_tooltip("This section provides a link to download all items in this pack as a single .zip archive") %>
				Download
			</h3>
			
			<% if @authorised_to_download %>
				<ul class="sectionIcons">
					<li style="margin-left: 0;"><%= icon('pack', download_pack_path(@pack), "Download Pack Items as Single ZIP Archive", nil, "Download Pack Items (ZIP archive)") %></li>
				</ul>
			<% else %>
				<p class="none_text">
					You do not have permissions to download
				</p>
			<% end %>
			
  			<br/>
			
			<% if @authorised_to_edit -%>
				<h3>
					<%= info_icon_with_tooltip("This section provides various ways of adding items to this pack") %>
					Add an Item
				</h3>
				<a name="add_item"></a>
				<%= render :partial => "add_item", :locals => { :pack => @pack } -%>
			<% end -%>
		</div>
	</div>

</div>

<div class="contribution_right_box">
	<%= render :partial => "contributions/uploader_box", :locals => { :contributable => @pack } %>
	
	<div class="contribution_section_box">
		<p style="font-size: 108%;">
		 	<b><%= pluralize items_count, "item" %> in this pack</b>
		</p>
	</div>

  <%= render :partial => "contributions/license_box", :locals => { :contributable => @pack } %>

  <%= render :partial => "contributions/curation_box", :locals => { :contributable => @pack } %>

	<%= render :partial => "tags/tags_box", :locals => { :taggable => @pack, 
																											 :owner_id => ((@pack.contributor_type == 'User') ? @pack.contributor_id : nil), 
																											 :add_path => tag_pack_path(@pack), 
																											 :edit_path => edit_pack_path(@pack),
																											 :allow_edit => @authorised_to_edit } %>
	
	<%= render :partial => "tags_from_items", :locals => { :items => @pack.contributable_entries } %>
	
	<%= render :partial => "contributions/shared_with_groups_box", :locals => { :contributable => @pack } %>
	
	<%= render :partial => "contributions/in_packs_box", :locals => { :contributable => @pack, :contributable_url => @pack_entry_url } %>
	
	<%= render :partial => "contributions/favourited_box", :locals => { :contributable => @pack,
																																			:add_to_favourites_path => favourite_pack_url(@pack),
																																			:remove_from_favourites_path => favourite_delete_pack_url(@pack) } %>
	
	<%= render :partial => "contributions/statistics_box", :locals => { :contributable => @pack } %>
</div>

<div class="clearer">&nbsp;</div>

<!-- BEGIN tabs -->
	
<br/>

<div id="tabsContainer" class="tabsContainer"></div>
	
<% if logged_in? and @pack.owner? current_user %>
  
	<div class="tabContainer">
    <div class="tabTitle">Sharing</div>
    <div class="tabContent">

      <a name="sharing"></a>
      <%= render :partial => "contributions/sharing_summary",  :locals => { :contributable => @pack } %>
      <%= render :partial => "contributions/updating_summary", :locals => { :contributable => @pack } %>
	  
      <% if @authorised_to_edit %>
        <ul class="sectionIcons">
          <li><%= icon('edit', edit_pack_path(@pack), nil, nil, 'Edit')%></li>
        </ul>
      <% end %>
    </div>
  </div>
	
<% end %>

<!-- END tabs -->

<br/>
<br/>

<div id="commentsBox">
	<%= render :partial => "comments/comments", :locals => { :commentable => @pack } %>
</div>

<%= render :partial => "contributions/alternative_formats" %>

