<% if logged_in? -%>
    <%= render :partial => 'gadgets/user_monitor' %>
<% else -%>
    <li><%= link_to 'Log in', new_session_url(:return_to => request.request_uri) -%></li>
    <li><%= link_to 'Register', new_user_url -%></li>
<% end %>
